[Unit]
Description=Hydra Launcher 
After=network-online.target rabbitmq-server.service
Wants=network-online.target
Requires=rabbitmq-server.service
RequiresMountsFor=/mnt/hydra_data


[Service]
Type=simple
User=imt
WorkingDirectory=/home/imt/Hydra/sensor-modules/controller
ExecStart=/home/imt/Hydra/sensor-modules/.venv/bin/python -m launch.main_launch
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
