[Unit]
Description=Schedule Hydra Starlink power-on

[Timer]
OnCalendar=*-*-* 20:00:00
OnCalendar=*-*-* 21:00:00
OnCalendar=*-*-* 22:00:00
OnCalendar=*-*-* 23:00:00

[Install]
WantedBy=timers.target

